body {
    font-family: Arial, sans-serif;
    background-color: rgb(61, 198, 114);
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
 
  .limpar {
    padding: 10px 20px;
    background-color: #ff1100;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }